<div class="footer-content">

	<a href="{{ basePath() }}/">
		<div class="logo">
			<img src="{{ basePath() }}//public/assets/img/logo_prularia_zwart-no-bg.png" alt="Logo">
			<p>Wij leveren alles aan iedereen</p>
		</div>
	</a>
	<div class="footer-links">
		<ul>
			<li><a href="{{basePath()}}/algemenevoorwaarden">Algemene voorwaarden</a></li>
			<li><a href="#">Legaal</a></li>
			<li><a href="{{basePath()}}/privacypolicy">Privacy</a></li>
			<li><a href="{{basePath()}}/cookies">Cookies</a></li>
		</ul>
	</div>

	<div class="footer-bottom">
		<p>&copy; 2024 All rights reserved ICT Solutions | Alle prijzen zijn inclusief BTW en andere heffingen en exclusief eventuele verzendkosten en servicekosten</p>
	</div>
</div>
